<!DOCTYPE html>
<html lang="ro">
  <head>
    <%- include('partials/header') %>
    <title>Acasă :: GennIT Ticketing</title>
    <script nonce="<%- cspNonce %>" src="https://static.gennerator.com/js/index.js" defer></script>
  </head>
  <body>
    <%- include('partials/noJS') %>
    <%- include('partials/navbar') %>
    <div class="main">
      Aloha <%- userName %>!
    </div>
  </body>
</html>
