<!DOCTYPE html>
<html lang="ro">
  <head>
    <%- include('partials/header') %>
    <title><%= ticket.title %> :: GennIT Ticketing</title>
    <link rel="preload" href="https://static.gennerator.com/css/sTicket.css" as="style">
    <link rel="preload" href="https://static.gennerator.com/css/flatpickr.css" as="style">
    <script nonce="<%- cspNonce %>" src="https://static.gennerator.com/js/app.js" defer></script>
    <script nonce="<%- cspNonce %>" src="https://static.gennerator.com/js/sTicket.js" defer></script>
    <script nonce="<%- cspNonce %>" src="https://cdn.jsdelivr.net/npm/flatpickr" defer></script>
    <script nonce="<%- cspNonce %>" src="https://npmcdn.com/flatpickr/dist/l10n/ro.js" defer></script>
  </head>
  <body>
    <%- include('partials/noJS') %>
    <%- include('partials/navbar') %>
    <div class="main ticket">
      <div class="ticket-description-messages">
        <div class="description">
          <div class="description-title" title="<%= ticket.title %>"><%= ticket.title %></div>
          <div class="separator"></div>
          <div class="description-message"><%= ticket.message %></div>
        </div>
        <div class="messages">
          <div class="messages-title">
            Mesaje
            <% if ((userData.userId === ticket.requestorId || userData.userId === ticket.assigneeId) && ticket.status !== 'Soluționat') {%>
            <form class="message-input">
              <textarea id="messageInput" rows="5" placeholder="Scrie un mesaj..." maxlength="2000" required></textarea>
              <input id="send-message" type="submit" value="Trimite">
            </form>
            <% } %>
          </div>
          <div class="message-list">
            <% for (let i = 0; i < ticket.messagesAndEvents.length; i++) { %>
            <% if (ticket.messagesAndEvents[i].type === 'msg') {%>
            <div class="message">
              <% if (ticket.messagesAndEvents[i].userId === userData.userId) {%>
              <div class="message-content">
                <div class="message-sent-date" title="<%- ticket.messagesAndEvents[i].prettyDate %>"><%- ticket.messagesAndEvents[i].relativeSentDate %></div>
                <div class="message-text own"><%= ticket.messagesAndEvents[i].message %></div>
              </div>
              <a class="message-user" href="/user/<%- ticket.messagesAndEvents[i].userId %>"><%= ticket.messagesAndEvents[i].displayNameInitials %></a>
              <% } else {%>
              <a class="message-user" href="/user/<%- ticket.messagesAndEvents[i].userId %>"><%= ticket.messagesAndEvents[i].displayNameInitials %></a>
              <div class="message-content">
                <div class="message-sent-date left" title="<%- ticket.messagesAndEvents[i].prettyDate %>"><%- ticket.messagesAndEvents[i].relativeSentDate %></div>
                <div class="message-text"><%= ticket.messagesAndEvents[i].message %></div>
              </div>
              <% } %>
            </div>
            <% } else { %>
            <div class="event">
              <div class="event-date" title="<%- ticket.messagesAndEvents[i].prettyCreateDate %>"><%- ticket.messagesAndEvents[i].relativeCreateDate %></div>
              <div class="event-message">
                <a class="event-bold" href="/user/<%- ticket.messagesAndEvents[i].userId %>"><%= ticket.messagesAndEvents[i].displayName %></a>
                <% switch(ticket.messagesAndEvents[i].event) { case 'changeAssignee':%>
                <% if (ticket.messagesAndEvents[i].from.assigneeId === null) { %>
                <span>a desemnat pe</span>
                <a class="event-bold" href="/user/<%- ticket.messagesAndEvents[i].to.assigneeId %>"><%= ticket.messagesAndEvents[i].to.assigneeDisplayName %></a>
                <span>&nbsp;ca responsabil al acestui tichet.</span>
                <div>Statutul tichetului a fost modificat automat în <span class="event-bold">Atribuit</span>.</div>
                <% } else { %>
                <span>a modificat responsabilul tichetului din</span>
                <a class="event-bold" href="/user/<%- ticket.messagesAndEvents[i].from.assigneeId %>"><%= ticket.messagesAndEvents[i].from.assigneeDisplayName %></a>
                <span>&nbsp;în</span>
                <a class="event-bold" href="/user/<%- ticket.messagesAndEvents[i].to.assigneeId %>"><%= ticket.messagesAndEvents[i].to.assigneeDisplayName %></a>
                <span>.</span>
                <% } %>
                <% break; case 'changeStatus':%>
                <span>a modificat statutul tichetului din</span>
                <span class="event-bold"><%- ticket.messagesAndEvents[i].from %></span>
                <span>&nbsp;în</span>
                <span class="event-bold"><%- ticket.messagesAndEvents[i].to %></span>
                <span>.</span>
                <% break; case 'changePriority':%>
                <span>a modificat prioritatea tichetului din</span>
                <span class="event-bold"><%- ticket.messagesAndEvents[i].from %></span>
                <span>&nbsp;în</span>
                <span class="event-bold"><%- ticket.messagesAndEvents[i].to %></span>
                <span>.</span>
                <% break; case 'changeDepartment':%>
                <span>a modificat departamentul aferent tichetului din</span>
                <span class="event-bold"><%- ticket.messagesAndEvents[i].from %></span>
                <span>&nbsp;în</span>
                <span class="event-bold"><%- ticket.messagesAndEvents[i].to %></span>
                <span>.</span>
                <% break; case 'changeEndDate':%>
                <% if (ticket.messagesAndEvents[i].from !== null) {%>
                <span>a modificat termenul limită din</span>
                <span class="event-bold"><%- ticket.messagesAndEvents[i].from %></span>
                <span>&nbsp;în</span>
                <span class="event-bold"><%- ticket.messagesAndEvents[i].to %></span>
                <span>.</span>
                <% } else { %>
                <span>a adăugat un termen limită acestui tichet. Noul termen limită este </span>
                <span class="event-bold"><%- ticket.messagesAndEvents[i].to %></span>
                <span>.</span>
                <% } %>
                <% break; } %>
              </div>
            </div>
            <% } %>
            <% }%>
          </div>
        </div>
      </div>
      <div class=" ticket-info">
        <div class="info-title">Detalii incident</div>
        <div class="separator"></div>
        <div class="info">
          <div class="info-name">
            Statut
            <% if (ticket.assigneeId === userData.userId && ticket.status !== 'Soluționat') {%>
            <img id="statusEdit" class="edit-button" src="https://static.gennerator.com/img/svg/edit.svg" alt="Editare">
            <% } %>
          </div>
          <div id="ticketStatus" class="status status-<%- ticket.statusId %>"><%- ticket.status %></div>
        </div>
        <div class="info">
          <div class="info-name">Solicitant</div>
          <a class="locked" href="/user/<%- ticket.requestorId %>">
            <div class="profile-picture"><%= ticket.requestorNameInitials %></div>
            <span class="profile-name"><%= ticket.requestorName %></span>
          </a>
        </div>
        <div class="info">
          <% if (ticket.assigneeId !== null) {%>
          <div class="info-name">
            Responsabil
            <% if (userData.admin === true && ticket.status !== 'Soluționat') {%>
            <img id="assigneeEdit" class="edit-button" src="https://static.gennerator.com/img/svg/edit.svg" alt="Editare">
            <% } %>
          </div>
          <a id="ticketAssignee" class="locked" href="/user/<%- ticket.assigneeId %>">
            <div class="profile-picture"><%= ticket.assigneeNameInitials %></div>
            <span class="profile-name"><%= ticket.assigneeName %></span>
          </a>
          <% } else { %>
          <div class="info-name">
            Responsabil
            <% if (userData.admin === true && ticket.status !== 'Soluționat') {%>
            <img id="assigneeEdit" class="edit-button" src="https://static.gennerator.com/img/svg/edit.svg" alt="Editare">
            <% } %>
          </div>
          <a id="ticketAssignee" class="locked">
            <span class="profile-name">~</span>
          </a>
          <% } %>
        </div>
        <div class="info">
          <div class="info-name">
            Prioritate
            <% if (ticket.assigneeId === userData.userId && ticket.status !== 'Soluționat') {%>
            <img id="priorityEdit" class="edit-button" src="https://static.gennerator.com/img/svg/edit.svg" alt="Editare">
            <% } %>
          </div>
          <div id="ticketPriority" class="locked">
            <span class="profile-name"><%- ticket.priority %></span>
          </div>
        </div>
        <div class="info">
          <div class="info-name">
            Departament
            <% if (ticket.assigneeId === userData.userId && ticket.status !== 'Soluționat') {%>
            <img id="departmentEdit" class="edit-button" src="https://static.gennerator.com/img/svg/edit.svg" alt="Editare">
            <% } %>
          </div>
          <div id="ticketDepartment" class="locked">
            <span class="profile-name"><%- ticket.department %></span>
          </div>
        </div>
        <div class="info">
          <div class="info-name">
            Dată început
          </div>
          <div id="ticketStartDate" class="locked">
            <span class="profile-name"><%- ticket.prettyStartDate %></span>
          </div>
        </div>
        <div class="info">
          <div class="info-name">
            Termen limită
            <% if (ticket.assigneeId === userData.userId && ticket.status !== 'Soluționat') {%>
            <img id="endDateEdit" class="edit-button" src="https://static.gennerator.com/img/svg/edit.svg" alt="Editare">
            <% } %>
          </div>
          <div id="ticketEndDate" class="locked">
            <% if (ticket.endDate !== null) {%>
            <span class="profile-name"><%- ticket.prettyEndDate %></span>
            <% } else {%>
            <span class="profile-name">~</span>
            <% } %>
          </div>
        </div>
      </div>
  </body>
</html>
