<!DOCTYPE html>
<html lang="ro">
  <head>
    <%- include('partials/header') %>
    <title>Incidente :: GennIT Ticketing</title>
    <link rel="preload" href="https://static.gennerator.com/css/ticket.css" as="style">
    <link rel="preload" href="https://static.gennerator.com/css/flatpickr.css" as="style">
    <script nonce="<%- cspNonce %>" src="https://static.gennerator.com/js/app.js" defer></script>
    <script nonce="<%- cspNonce %>" src="https://static.gennerator.com/js/ticket.js" defer></script>
    <script nonce="<%- cspNonce %>" src="https://cdn.jsdelivr.net/npm/flatpickr" defer></script>
    <script nonce="<%- cspNonce %>" src="https://npmcdn.com/flatpickr/dist/l10n/ro.js" defer></script>
  </head>
  <body>
    <%- include('partials/noJS') %>
    <%- include('partials/navbar') %>
    <div class="main tickets-page">
      <div class="tickets-search">
        <input class="tickets-searchbar" type="search" maxlength="100" placeholder="Caută tichete" spellcheck="false">
        <div class="ticket-add" id="newTicket">
          <img src="https://static.gennerator.com/img/svg/plus.svg">
        </div>
      </div>
      <div class="tickets" id="tickets">
        <% for (let i = 0; i< tickets.length; i++) {%>
        <div id="<%- tickets[i].ticketId %>" class="ticket">
          <div class="ticket-top">
            <div class=ticket-id-status>
              <a class="ticket-id" href="/ticket/<%- tickets[i].ticketId %>">#<%- tickets[i].ticketId %></a>
              <div class="ticket-status status-<%- tickets[i].statusId %>"><%- tickets[i].status.toUpperCase() %></div>
            </div>
            <div class="ticket-title-description">
              <a class="ticket-title" href="/ticket/<%- tickets[i].ticketId %>"><%= tickets[i].title %></a>
              <div class="ticket-message" title="<%= tickets[i].message %>"><%= tickets[i].trimmedMessage %></div>
            </div>
          </div>
          <div class="ticket-bottom">
            <div class="element user">
              <a class="profile-picture" href="/user/<%- tickets[i].requestorId %>"><%= tickets[i].requestorNameInitials %></a>
              <div class="field-description">
                <div class="field-name">solicitant</div>
                <a class="field-title" href="/user/<%- tickets[i].requestorId %>" title="<%= tickets[i].requestorName %>"><%= tickets[i].requestorName %></a>
              </div>
            </div>
            <div class="element user">
              <% if (tickets[i].assigneeId !== null) {%>
              <a class="profile-picture" href="/user/<%- tickets[i].assigneeId %>"><%= tickets[i].assigneeNameInitials %></a>
              <div class="field-description">
                <div class="field-name">responsabil</div>
                <a class="field-title" href="/user/<%- tickets[i].assigneeId %>" title="<%= tickets[i].assigneeName %>"><%= tickets[i].assigneeName %></a>
              </div>
              <% } else { %>
              <div class="field-description">
                <div class="field-name">responsabil</div>
                <div class="field-title">~</div>
              </div>
              <% } %>
            </div>
            <div class="element priority">
              <div class="field-description">
                <div class="field-name">prioritate</div>
                <div class="field-title"><%- tickets[i].priority %></div>
              </div>
            </div>
            <div class="element category">
              <div class="field-description">
                <div class="field-name">departament</div>
                <div class="field-title"><%- tickets[i].department %></div>
              </div>
            </div>
            <div class="element date">
              <div class="field-description">
                <div class="field-name">dată început</div>
                <div class="field-title" title="<%- tickets[i].prettyStartDate %>"><%- tickets[i].relativeStartDate %></div>
              </div>
            </div>
            <div class="element date">
              <div class="field-description">
                <div class="field-name">termen limită</div>
                <% if (tickets[i].endDate !== null) {%>
                <div class="field-title" title="<%- tickets[i].prettyEndDate%>"><%- tickets[i].relativeEndDate %></div>
                <% } else {%>
                <div class="field-title">~</div>
                <% } %>
              </div>
            </div>
          </div>
        </div>
        <% } %>
      </div>
      <div class="tickets-filters" id="filters">
        <div class="filters">
          <div class="new-ticket-title">Filtre</div>
          <div class="filter-group">
            <div class="filter-group-title">
              STATUT
              <div class="filter-remove" id="removeStatusFilter">
                <img src="https://static.gennerator.com/img/svg/plus.svg">
              </div>
            </div>
            <div class="filter-checkbox">
              <input id="status-1" type="checkbox">
              <label for="status-1">Nou</label>
            </div>
            <div class="filter-checkbox">
              <input id="status-2" type="checkbox">
              <label for="status-2">Atribuit</label>
            </div>
            <div class="filter-checkbox">
              <input id="status-3" type="checkbox">
              <label for="status-3">În așteptare</label>
            </div>
            <div class="filter-checkbox">
              <input id="status-4" type="checkbox">
              <label for="status-4">Soluționat</label>
            </div>
          </div>
          <div class="filter-group">
            <div class="filter-group-title">
              PRIORITATE
              <div class="filter-remove" id="removePriorityFilter">
                <img src="https://static.gennerator.com/img/svg/plus.svg">
              </div>
            </div>
            <div class="filter-checkbox">
              <input id="priority-1" type="checkbox">
              <label for="priority-1">Scăzut</label>
            </div>
            <div class="filter-checkbox">
              <input id="priority-2" type="checkbox">
              <label for="priority-2">Mediu</label>
            </div>
            <div class="filter-checkbox">
              <input id="priority-3" type="checkbox">
              <label for="priority-3">Ridicat</label>
            </div>
            <div class="filter-checkbox">
              <input id="priority-4" type="checkbox">
              <label for="priority-4">Urgent</label>
            </div>
          </div>
          <div class="filter-group">
            <div class="filter-group-title">
              DEPARTAMENT
              <div class="filter-remove" id="removeDepartmentFilter">
                <img src="https://static.gennerator.com/img/svg/plus.svg">
              </div>
            </div>
            <div class="filter-checkbox">
              <input id="departament-1" type="checkbox">
              <label for="departament-1">IT</label>
            </div>
            <div class="filter-checkbox">
              <input id="departament-2" type="checkbox">
              <label for="departament-2">Dezvoltare software</label>
            </div>
            <div class="filter-checkbox">
              <input id="departament-3" type="checkbox">
              <label for="departament-3">Operațiuni</label>
            </div>
            <div class="filter-checkbox">
              <input id="departament-4" type="checkbox">
              <label for="departament-4">Marketing</label>
            </div>
            <div class="filter-checkbox">
              <input id="departament-5" type="checkbox">
              <label for="departament-5">Resurse umane</label>
            </div>
          </div>
          <div class="filter-group">
            <div class="filter-group-title">
              TERMEN LIMITĂ
              <div class="filter-remove" id="removeEndDateFilter">
                <img src="https://static.gennerator.com/img/svg/plus.svg">
              </div>
            </div>
            <div class="filter-checkbox">
              <input id="enddate-1" type="checkbox">
              <label for="enddate-1">În termen</label>
            </div>
            <div class="filter-checkbox">
              <input id="enddate-2" type="checkbox">
              <label for="enddate-2">Termen depășit</label>
            </div>
            <div class="filter-checkbox">
              <input id="enddate-3" type="checkbox">
              <label for="enddate-3">Fără termen limită</label>
            </div>
          </div>
          <div class="filter-group">
            <div class="filter-group-title">
              RESPONSABIL
              <div class="filter-remove" id="removeAssigneeFilter">
                <img src="https://static.gennerator.com/img/svg/plus.svg">
              </div>
            </div>
            <div class="filter-checkbox">
              <input id="assignee-1" type="checkbox">
              <label for="assignee-1">Cu responsabil</label>
            </div>
            <div class="filter-checkbox">
              <input id="assignee-2" type="checkbox">
              <label for="assignee-2">Fără responsabil</label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
