<!DOCTYPE html>
<html lang="ro">
  <head>
    <%- include('partials/header') %>
    <title><%- username %> :: GennIT Ticketing</title>
    <script nonce="<%- cspNonce %>" src="https://static.gennerator.com/js/index.js" defer></script>
  </head>
  <body>
    <%- include('partials/noJS') %>
    <%- include('partials/navbar') %>
    <div class="main content">
      <div class="profile-picture"><%- username.charAt(0).toUpperCase() %></div>
      <div class="bold"><%- username %></div>
      <div class="user-info">
        <h2>Informații utilizator</h2>
        <div><span class="bold">Adresă e-mail: </span><%- email %></div>
        <div><span class="bold">Cont creat: </span><%- create_date.toLocaleString('ro-RO') %></div>
        <div><span class="bold">Văzut ultima dată: </span><%- last_login.toLocaleString('ro-RO') %></div>
      </div>
    </div>
  </body>
</html>
